* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px;
  background: #01ff91;
  text-align: center;
  margin-bottom: 3rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card {
  border: 2px solid black;
  padding: 20px;
  border-radius: 14px;
}
.handle {
  font-size: 14px;
}

.description {
  margin-top: 1.5rem;
}

@media screen and (max-width: 700px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 20px 0px;
  }
}
